body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-tile {
  padding-top: 50px;
  display: flex;
}

.dashboard-description {
  text-align: center;
  padding-left: 50px;
  font-family: cursive;
  font-size: 18px;
}

.link {
  color:aliceblue;
  text-decoration: none;
}
